<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<div>{:captcha_img()}</div>-->

<br>

<div><img src="{:captcha_src()}" alt="captcha"></div>
<form action="../../code" method="post">
    <input type="text" name="code">
    <input type="submit" value="提交">
</form>

<div><img src="../../code/index/show" alt="captcha"></div>

<!--<form action="../../code" method="post">-->
<form action="../../code/index/check" method="post">
    <input type="text" name="code">
    <input type="submit" value="提交">
</form>

</body>
</html>